body {
    margin: 60px auto;
    width: 50%;
}
.nav {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
.nav_item {
    display: inline;
    margin-right: 20px;
}
.link {
    color: #999;
}
.link-nav {
    text-decoration: none;
}
.link-nav:hover {
    text-decoration: underline;
}
.link-body {
    text-decoration: underline;    
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin-top: 0.5;
    margin-bottom: 0;
}
h2 {
    margin-top: 0;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
/* post ul*/
.posts {
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
/*post li*/
.posts_item {
      list-style: none;  
}
.unital { font-style: normal; }
