<!DOCTYPE html>
	<html>
		<div style ="text-align: center;"
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul class="nav_list">
	        		<li class="nav_list-item"><a href="/">Home</a></li>
		        	<li class="nav_list-item"><a href="/about">About</a></li>
	        		<li class="nav_list-item"><a href="/blog">Blog</a></li>
	        		<li class="nav_list-item"><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<!-- li><a href="mailto:deraluce@gmail.com">email</a></li -->
	        		<li><a href="https://github.com/deraluce">github.com/deraluce</a></li>
				</ul>
			</footer>
		</body>
		</div>
	</html>
